img {
  object-fit: cover;
}

.userAva {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.descRow {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.66);
}
.imageList {
  width: 40px;
  height: 40px;
}
.gridTables {
  background: black;
  width: 800px;
}
.table {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputTable {
  max-width: 50%;
  min-width: 2em;
  border: none;
  text-align: center;
  overflow: visible;
}
.roundTable {
  border-radius: 30% 30% 30% 30%;
}
.deleteTableButton {
  opacity: 0;
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  background-color: crimson;
  padding-inline: 0.4em;
  color: aliceblue;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.table:hover .deleteTableButton {
  opacity: 1;
  transition: 0.3s;
}
.logo {
  width: 5em;
}
.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
