:root {
  --main-bg-color: #93e1d8;
  --secondary-bg-color: #ffa69e;
  --font-color: #ddfff7;
  --bright-color: #861657;
  --less-bright-color: #aa4465;
}
body {
  background-color: var(--main-bg-color);
  color: var(--bright-color);
}

.loginDiv {
  background-color: var(--main-bg-color);
  height: 100vh;
}
.terminalLoginContainer {
  height: 100vh;
}
.loginButton {
  width: 10em;
  height: 10em;
  margin-block: 1em;
  margin-inline: 1em;
  background-color: #861657;
}
.navbarMain {
  background-color: var(--less-bright-color);
  height: 8vh;
}
.navbarMain button {
  background-color: transparent;
  border: none;
  /* margin-inline: 1em; */
  width: 10em;
  border-radius: 0;
  color: var(--font-color);
  font-size: 1.5em;
  padding: 0 !important ;
}
.navbarMain button:active,
.navbarMain button:focus {
  box-shadow: none;
}
.table {
  background-color: var(--less-bright-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 1.5em;
  cursor: pointer;
  /* border-radius: 50%; */
}
#layoutMainDiv {
  background-color: var(--secondary-bg-color);
  width: 100vw;
  height: 92vh;
  border: 2px solid #861657;
}
.card-img-top {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.gridTables {
  background: black;
  width: 100vw;
  height: 100px;
}
