@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
:root {
  --main-bg-color: #000000;
  --secondary-bg-color: #fff1e3;
  --font-color: #00513e;
  --bright-color: #320047;
  --less-bright-color: #040007;
  overflow-x: hidden;

  background: -moz-linear-gradient(
    18deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(6, 0, 9, 1) 50%,
    rgba(5, 0, 7, 1) 100%
  );
}
body {
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 0, 46, 1) 50%,
    rgba(10, 0, 14, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 0, 46, 1) 50%,
    rgba(10, 0, 14, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 0, 46, 1) 70%,
    rgba(10, 0, 14, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0a000e",GradientType=1);
  color: var(--secondary-bg-color);
  font-family: "Sunflower", sans-serif;
}

.loginDiv {
  /* background-color: #f4edff; */
  height: 100vh;
}
.mainTerminalLoginDiv {
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(
    18deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(6, 0, 9, 1) 50%,
    rgba(5, 0, 7, 1) 100%
  );
}
.toastLogin {
  background-color: #cb6868;
  color: var(--less-bright-color);
}
.toastTable {
  background-color: #cb6868;
  color: var(--less-bright-color);
  position: absolute;
  top: -10%;
  right: 2em;
  width: 15vw;
  z-index: 999;
}

.loginDiv button {
  background-color: var(--font-color);
  border: none;
  font-weight: 500;
  box-shadow: 1px 2px 1px var(--secondary-bg-color);
}
.loginDiv button:hover {
  background-color: var(--secondary-bg-color);
  color: var(--bright-color);
  font-weight: 500;
}
.loginDiv input {
  border: 1px solid var(--bright-color);
  box-shadow: 1px 1px 1px var(--secondary-bg-color);
}
.btn-secondary {
  background-color: #7b269f;
  border: 1px solid #00513e;
}
.btn-primary {
  background-color: #289033;
  border: 1px solid #320047;
}
#passInput {
  height: 5em;
  margin-top: -3em;
  font-weight: 900;
}

.welcome {
  letter-spacing: 3px;
  font-weight: 700;
  text-shadow: 2px 1px 1px var(--secondary-bg-color);
}

.loginContainer {
  background-color: var(--bright-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
  height: 25rem !important;
  width: 25rem;
  border: solid 3px var(--bright-color);
  border-radius: 20px;
  box-shadow: 3px 3px 5px 6px var(--less-bright-color);
}

.terminalLoginContainer {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgb(11, 0, 15) 50%,
    rgba(5, 0, 14, 1) 100%
  );
  border: dotted 1px var(--bright-color);
  border-radius: 20px;
  box-shadow: 3px 3px 5px 6px var(--less-bright-color);
  height: 85vh;
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tableComp {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgb(11, 0, 15) 50%,
    rgba(5, 0, 14, 1) 100%
  );
  padding-inline: 1em;
}
.passInput {
  width: 30rem;
  height: 3em;
  box-shadow: 2px 2px 2px black;
  margin-block: 5vh;
}
.roundTable {
  border-radius: 30% 30% 30% 30%;
}
input {
  text-align: center;
}
.pTable {
  text-align: center;
}
.loginButton {
  /* width: 10em; */
  height: 13vh;
  aspect-ratio: 1/1;
  margin-block: 0.3em;
  margin-inline: 0.3em;
  background-color: var(--bright-color);
  box-shadow: 1px 1px 2px 2px var(--less-bright-color);
  border: solid 3px var(--bright-color);
  font-size: 2rem;
}
.loginButton:hover {
  background-color: var(--less-bright-color);
  border-color: var(--bright-color);
}

.navbarMain {
  /* background-color: var(--less-bright-color); */
  height: 10vh;
  display: flex;
  align-items: center;
  width: 100vw;
  margin-left: -30px;
  margin-top: 1em;
}
.orderCont {
  height: 100vh;
}
.navbarMain button {
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--less-bright-color);
  width: 10em;
  height: 2em;
  border-radius: 0;
  color: var(--bright-color);
  font-size: 1.5em;
  font-weight: 500;
  padding: 0 !important ;
  margin-inline: 2.5rem;
}
.userButton {
  margin: 0 !important;
  margin-right: 1em !important;
}
.navbarMain button:active,
.navbarMain button:focus {
  box-shadow: none;
  border: none;
}
.navbarMain button:hover {
  background-color: var(--bright-color);
  color: var(--font-color);
  border: 2px solid var(--bright-color);
}
.dropDownMenu {
  background-color: var(--less-bright-color);
  width: 15em;
}
.dropDownMenu a {
  cursor: pointer;
}
#dropdownMenuButton {
  width: 2em;
  padding: 0;
  margin: 0;
}
.dropDownItem {
  cursor: pointer;
  height: 2em;
  background-color: var(--secondary-bg-color);
  text-align: center;
  margin-top: 25px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--bright-color) !important;
}
.dropDownItem:last-child {
  margin-bottom: 20px;
}
.dropDownItem:hover {
  background-color: var(--bright-color);
  color: var(--font-color) !important;
}
.dropDownMenu:last-child:hover {
  color: var(--font-color);
}
.table {
  background-color: #289033;
  border: 2px solid var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 1.5em;
  cursor: pointer;
  background-color: #b7a6d7;
  color: #14001d;
  border: 2px solid var(--bright-color);

  /* border-radius: 50%; */
}
#layoutMainDiv > div {
  margin-top: 5rem;
  background-color: rgb(29, 27, 27);
  border: solid 1px black;
  border-radius: 5px;
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  /* transform: translate(-50%, -40%); */
}
.tableBusy {
  background-color: #7b269f;
  border: 2px solid var(--bright-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 1.5em;
  cursor: pointer;
  background-color: #47090f;
  color: rgb(255, 227, 227);
}

#layoutMainDiv {
  width: 100%;
  height: 90%;
}
input:disabled {
  background-color: #fff1e3;
  color: #14001d;
}
.cardImage {
  width: 100% !important;
  aspect-ratio: 12/8 !important;

  object-fit: cover;
}
.card-body {
  color: var(--bright-color);
  white-space: nowrap;
}
.card {
  margin-bottom: 1em;
}
.closeChequeModal {
  color: var(--secondary-bg-color);
}
.closeChequeModal .modal-content {
  font-size: 1.2em;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    rgba(18, 0, 26, 0.933) 100%
  );
  border: 2px solid var(--secondary-bg-color);
}

.closeSessionModal .modal-content {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 25%,
    rgba(18, 0, 26, 0.933) 100%
  );
  border: 2px solid var(--secondary-bg-color);
  color: var(--secondary-bg-color);
  width: 40rem;
}
.closeSessionModal .modal-content input {
  width: 12rem;
  font-size: 2.2em;
}
.gridTables {
  width: 100vw !important;
  background: transparent !important;
  height: 100px;
}
.backDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12em;
  height: 5em;
  margin-bottom: 4em;
  margin-left: 2em;
  z-index: 999;
}
.backDiv button {
  width: 100%;
  height: 100%;
}

.buttonsDiv {
  display: flex;
  height: 6em;
  width: 33%;
  position: absolute;
  bottom: 5%;
  right: 0;
  z-index: 999;
}
.buttonsDiv button {
  width: 100%;
  margin-right: 1em;
}
.buttonTopLogout {
  background-color: var(--secondary-bg-color);

  width: 5em !important;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid var(--less-bright-color);
  color: black;
  margin-left: auto !important;
  cursor: pointer;
}
.buttonTopLogout:hover {
  background-color: var(--less-bright-color);
  color: var(--font-color);
}
.removeButton {
  padding-inline: 0.8em;
  padding-block: 0.2em;
  margin-top: 0.2em;
  opacity: 0;
  transition: 0.2s;
}

.chequeRow:hover .removeButton {
  opacity: 1;
  transition: 0.2s;
}
.dishImage {
  object-fit: cover;
  width: 5em;
  height: 5em;
}
.dishCard {
  cursor: pointer;
  border: solid 2px var(--less-bright-color);
  color: var(--bright-color);
}

.dishName {
  white-space: nowrap;
  /* overflow: hidden; */
  text-emphasis: ellipsis;
}
.orderModal {
  border: solid 3px var(--bright-color);
  background-color: var(--less-bright-color);
  height: 40%;
  margin-left: auto;
  margin-right: 1em;
}
.closeChequeModal input {
  border: none;
  border-bottom: 1px solid var(--bright-color);
  margin-inline: 0.3em;
}

.closeChequeModal input:focus {
  box-shadow: none;
}
.currentOrder {
  margin-top: 1em;
  margin-left: 0.85em;
}
.tableOrder {
  margin-top: 0.5em;
  margin-left: 1em;
}
.tableTotal {
  text-align: end;
  margin-right: 2.5em;
}
.orderCol {
  font-weight: 700;
}
.orderRow {
  border-bottom: 1px solid var(--bright-color);
  margin-left: 1em;
  margin-right: 1em;
}
.orderList {
  margin-left: 1em;
  margin-top: 0.3em;
  border-bottom: 1px solid var(--bright-color);
  margin-right: 1em;
}
.chequeRowNaming {
  border-bottom: 1px solid var(--bright-color);
  margin-bottom: 0.5em;
}
.guestChequeInput {
  all: unset;
  /* border: 1px solid black; */
  height: 25px;
}
.discountInput {
  width: 3em;
}

.archiveCol {
  background-color: var(--less-bright-color);
  border: 2px solid var(--bright-color);
  max-height: 86vh;
  overflow-y: scroll;
}
.archiveRow {
  border-bottom: 1px solid var(--bright-color);
}
.archiveRow .col-9 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
}
.archivePrice {
  border-left: 1px solid var(--bright-color);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.archiveDetails {
  min-height: 80vh;
}
.archiveDetails {
  background-color: var(--less-bright-color);
  border: 2px solid var(--bright-color);
}
.archiveCheque {
  border-bottom: 1px solid var(--bright-color);
}
.chequeRow {
  border-left: 1px solid var(--bright-color);
}
.chequeBottomPart .archiveBottomPart {
  border-bottom: 1px solid var(--bright-color);
}
.chequeBottomPart .row {
  border-bottom: 1px solid aliceblue;
}
.ordersTotal {
  padding-top: 0.3em;
  border: 1px solid aliceblue;
}
.checqueBottomRow {
  border: 1px solid var(--secondary-bg-color);
  padding-top: 0.2em;
  display: flex;
  align-items: center;
}

input[type="number"] {
  appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.closeSessionModal {
  color: var(--bright-color);
  width: 100%;
}
