@import "./_variables.scss";

.userAva {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.descRow {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.66);
}
.imageList {
  width: 40px;
  height: 40px;
}
.gridTables {
  background: black;
  width: 800px;
}
.table {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputTable {
  max-width: 80%;
  min-width: 2em;
  border: none;
  text-align: center;
}
.roundTable {
  border-radius: 30% 30% 30% 30%;
}

h2 {
  color: $primary;
}

h3 {
  color: $primary;
  a {
    color: black;
  }
}
